{% extends "::base.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    
<div class="jumbotron">
    <h1>Witaj!</h1>
    <p>Twoja internetowa ksiażka adresowa. Dzięki niej wszystkie swoje kontakty będziesz miał zawsze pod ręką :)</p>
</div>

{% endblock %}
