{% extends "::base.html.twig" %}

{% block title %}Kontakty{% endblock %}

{% block body %}
<h1>Kontakty</h1>
<div class="col-xs-1"></div>
<center>
    <div class="list-group col-xs-7">
        {% for person in persons %}
            <a href="/{{person.id}}" class="list-group-item">{{ person.surname }} {{ person.name }}</a>
        {%endfor%}
    </div>
</center>
<div class="col-xs-1"></div>

{% endblock %}