{% extends "::base.html.twig" %}

{% block title %}Usuń telefon{% endblock %}

{% block body %}
    <div class="alert alert-danger"><h1>Brak Numeru Telefonu do usunięcia</h1></div>
    <br><br>
    <a href="/" class="btn btn-lg btn-info"><h1>Strona głowna</h1></a>
{% endblock %}
